* {
    box-sizing: border-box;
}


#map {
    height: 200px;
    margin: 60px 0 40px 0;
    width: 100%;

}

body {
    margin: 150px auto 0 auto;
    width: 100%;
    text-align: center;
    background-color: #0D0221;
}


.js-results {
   width: 98%;
}

p, h1, li, label {
    word-spacing: 5px;

    color: #C2E7D9;
}

h1 {
     font-size: 55px;
     font-family: 'Bungee', sans-serif;
}

p, li {
    font-size: 25px;
    font-family: 'Open Sans', serif;
}



.resWrap {
    border: solid 1px #A6CFD5;
}

ul {
    list-style-type: none;
}

button {
    font-size: 20px;
    height: 70px;
    width: 80px;
    border-radius: 10px;
    border: 2px solid #086788;
    background-color: #C2E7D9;
    color: #26408B;
}

.js-search {
    border: 2px solid #086788;
    border-radius: 10px;
    height: 70px;
    width: 100%;
    font-size: 20px;
    
}


.error {
    font-size: 20px;
    color: #dfc00a;
    text-shadow: #000 1px 0 10px;
}

legend {
    display: none;
}

@media only screen and (min-width: 640px){
    #map {
    height: 400px;
    }

    body {
    max-width: 800px;
    }

    .js-results {

    max-width: 800px;
    }

    .js-search {
    width: 550px;
    }
}

fieldset {
    border: none;
}